.SearchBar-button {
    background-color: #EE543F;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 20px;
}

.SearchBar-button:hover {
	background-color: #DB4B37;
}

.SearchBar-input {
    outline: none;
    font-size: 12px;
    border: 1px solid #CCC;
    border-right: none;
}